body {
  background-color: powderblue;
}

#root {
  height: 100%;
  width: 100%;
}

.menuBar {
  display: flex;
  border-bottom: 1px solid grey;
  height: 40px;
  width: 100%;

  button {
    border-radius: 6px;
    width: 100px;
  }
}

.logo {
  height: 80px;
  margin-bottom: 10px;
}