#root {
  height: 100%;
  width: 100%;
}

.menuBar {
  border-bottom: 1px solid grey;
  height: 40px;
  width: 100%;

  ul {
    display: flex;
    width: 25%;
  }

  li {
    width: 33%;
  }

  button {
    border-radius: 6px;
    width: 100px;
  }
}

.logo {
  height: 80px;
  margin-bottom: 10px;
}

.features {
  height: 100%;
  width: 100%;

  h1 {
    height: 10%;
  }

  .selectWaterSource {
    display: flex;
    height: 10%;
    align-items: center;
  
    h3 {
      padding-right: 10px;
    }
  }
}



